<div class="app flex-row align-items-center">
  
  
    <div class="app-body">
  
      <!-- Main content -->
      <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">管理中心</li>
          <li class="breadcrumb-item active">角色管理</li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div nz-row [nzGutter]="16">
                <div nz-col>
                  <nz-card [nzNoHovering]="true">
                    <ng-template #body>
                      <role-modal type="1" (roleEmitter)="addRole($event)"></role-modal>
                    </ng-template>
                  </nz-card>
                </div>
              </div>
              <div nz-row [nzGutter]="16">
                <div nz-col>
                  <nz-card>
                    <ng-template #body>
                      <nz-table #nzTable [nzDataSource]="roleList" [nzPageSize]="10" [nzLoading]="tableLoading">
                        <thead nz-thead>
                          <tr>
                            <th>
                              角色名
                              <customer-filter-dropdown (searchEmitter)="search($event,'name')"></customer-filter-dropdown>
                            </th>
                            <th>描述</th>
                            <th>权限</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody nz-tbody>
                          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td> {{data.name}} </td>
                            <td nz-td> {{data.description}} </td>
                            <td nz-td> 
                              <!-- 查看权限modal start -->
                              <ng-template #modalContent>
                                <div nz-row [nzGutter]="32" [nzType]="'flex'" [nzAlign]="'center'">
                                    我的镜像：
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.CICD.indexOf('create')>=0}"></i>&nbsp;create</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.CICD.indexOf('read')>=0}"></i>&nbsp;read</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.CICD.indexOf('update')>=0}"></i>&nbsp;update</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.CICD.indexOf('delete')>=0}"></i>&nbsp;delete</span>
                                </div>
                                <div nz-row [nzGutter]="32" [nzType]="'flex'" [nzAlign]="'center'">
                                    配置管理：
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.ClusterConfiguration.indexOf('create')>=0}"></i>&nbsp;create</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.ClusterConfiguration.indexOf('read')>=0}"></i>&nbsp;read</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.ClusterConfiguration.indexOf('update')>=0}"></i>&nbsp;update</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.ClusterConfiguration.indexOf('delete')>=0}"></i>&nbsp;delete</span>
                                </div>
                                <div nz-row [nzGutter]="32" [nzType]="'flex'" [nzAlign]="'center'">
                                    我的应用：
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.Cluster.indexOf('create')>=0}"></i>&nbsp;create</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.Cluster.indexOf('read')>=0}"></i>&nbsp;read</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.Cluster.indexOf('update')>=0}"></i>&nbsp;update</span>
                                    <span nz-col><i class="anticon anticon-close-circle-o" [ngClass]="{'anticon-check-circle-o':data.permission.Cluster.indexOf('delete')>=0}"></i>&nbsp;delete</span>
                                </div>
                              </ng-template>
                              <ng-template #modalFooter>
                                  <button nz-button [nzType]="'primary'" (click)="closePermissionModal()">
                                      <span>确定</span>
                                  </button>
                              </ng-template>
                               <!-- 查看权限modal end -->
                              <button nz-button [nzType]="'primary'" title="详情" (click)="showPermissionModal(data.name,modalContent,modalFooter)">
                                <i class="anticon anticon-search"></i>
                              </button>
                            </td>
                            <td nz-td>
                              <role-modal type="2" [roleData]="data" (roleEmitter)="editRole($event)"></role-modal>
                              <button nz-button [nzType]="'primary'" title="删除" (click)="deleteRole(data.id)">
                                <i class="anticon anticon-delete"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </ng-template>
                  </nz-card>
                </div>
              </div>
          </div>
        </div>
        <!-- /.conainer-fluid -->
      </main>
    </div>
  </div>