<div class="app flex-row align-items-center">
  
    <div class="app-body">
      <!-- Main content -->
      <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">集群中心</li>
          <li class="breadcrumb-item active">配置管理</li>
          <li class="breadcrumb-item active">查询配置信息</li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <strong>配置信息</strong>
                  </div>
                  <div class="card-block">
                    <form enctype="multipart/form-data" class="form-horizontal ">
                      <div class="form-group row">
                        <label class="form-control-label col-md-12" for="text-input">配置名称： {{configDetail.name}}</label>
                      </div>
                      <div class="form-group row">
                        <label class="form-control-label col-md-12" for="text-input">配置描述： {{configDetail.des}}</label>
                      </div>
                      <div class="form-group row">
                        <label class="form-control-label col-md-12" for="text-input">系统环境变量：</label>
                      </div>
                      <div class="form-group row table-wrapper" *ngIf="configDetail.envlist.length > 0">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>序号</th>
                                <th>环境变量</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let env of configDetail.envlist;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{env['ENV_Key']}}={{env['ENV_Val']}}</td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                      <div class="form-group row">
                        <label class="form-control-label col-md-12" for="text-input">配置文件：</label>
                      </div>
                      <div class="form-group row table-wrapper" *ngIf="configDetail.configfiles.length > 0">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>序号</th>
                                <th>文件名</th>
                                <th>配置数据</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let config of configDetail.configfiles;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{config.Config_File}}</td>
                                <td>{{config.Config_Data}}</td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.conainer-fluid -->
      </main>
  
    </div>
  
  </div>
  
  
  
  
  
  
  