<div class="app flex-row align-items-center">
  
    <div class="app-body">
      <!-- Main content -->
      <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">应用中心</li>
          <li class="breadcrumb-item active">配置管理</li>
          <li class="breadcrumb-item active">查询配置信息</li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
              <div nz-col>
                <nz-card>
                  <ng-template #title>
                    <strong>配置信息</strong>
                  </ng-template>
                  <ng-template #body>
                    <form nz-form>
                      <div nz-form-item nz-row>
                        <label for="name">配置名称</label>
                        <span class="label-after-span">{{configDetail.name}}</span>
                      </div>
                      <div nz-form-item nz-row>
                        <label for="des">配置描述</label>
                        <span class="label-after-span">{{configDetail.des}}</span>
                      </div>
                      <div nz-form-item nz-row>
                        <label for="envlist">系统环境变量</label>
                      </div>
                      <div nz-form-item nz-row>
                        <nz-table #envlist [nzDataSource]="configDetail.envlist" [nzPageSize]="10" [nzBordered]="true" [nzIsPagination]="false">
                          <thead nz-thead>
                            <tr>
                              <th>序号</th>
                              <th>环境变量</th>
                            </tr>
                          </thead>
                          <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let env of envlist.data;let i = index">
                              <td>{{i+1}}</td>
                              <td>{{env['ENV_Key']}}={{env['ENV_Val']}}</td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                      <div nz-form-item nz-row>
                        <label for="configfiles">配置文件</label>
                      </div>
                      <div nz-form-item nz-row>
                        <nz-table #configfiles [nzDataSource]="configDetail.configfiles" [nzPageSize]="10" [nzBordered]="true" [nzIsPagination]="false">
                          <thead nz-thead>
                            <tr>
                              <th>序号</th>
                              <th>文件名</th>
                              <th>配置数据</th>
                            </tr>
                          </thead>
                          <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let config of configfiles.data;let i = index">
                              <td>{{i+1}}</td>
                              <td>{{config.Config_File}}</td>
                              <td>{{config.Config_Data}}</td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </form>
                  </ng-template>
                </nz-card>
              </div>

          </div>
        </div>
        <!-- /.conainer-fluid -->
      </main>
  
    </div>
  
  </div>
  
  
  
  
  
  
  