<div class="app flex-row align-items-center">

  <div class="app-body">


    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">应用中心</li>
        <li class="breadcrumb-item active">配置管理</li>
        <li class="breadcrumb-item active">创建新配置</li>
      </ol>

      <div class="container-fluid">

        <div class="animated fadeIn">
          <nz-card>
            <ng-template #title>
              <strong>创建新配置</strong>
            </ng-template>
            <ng-template #body>
              <form nz-form [formGroup]="configForm" (ngSubmit)="onSubmit(configForm)">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col>
                    <label for="configname" nz-form-item-required>配置名称</label>
                  </div>
                  <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('configname')">
                    <nz-input formControlName="configname" [nzId]="'configname'" [nzPlaceHolder]="'配置名称'"></nz-input>
                    <div nz-form-explain *ngIf="getFormControl('configname').dirty&&getFormControl('configname').hasError('required')">应用名称不能为空！</div>
                    <div nz-form-explain *ngIf="getFormControl('configname').dirty&&getFormControl('configname').hasError('maxlength')">应用名称最多为50个字符！</div>
                    <div nz-form-explain *ngIf="getFormControl('configname').dirty&&getFormControl('configname').hasError('pattern')">应用名称由小写字母开头并结尾，可包含数字、小写字母、“-”和“.”字符！</div>
                  </div>
                </div>
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col>
                    <label for="configdescription">配置描述</label>
                  </div>
                  <div nz-form-control nz-col>
                    <nz-input formControlName="configdescription" [nzId]="'configdescription'" [nzPlaceHolder]="'配置描述'"></nz-input>
                  </div>
                </div>
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col>
                    <label for="configdescription">系统环境变量</label>
                    <env-modal (addEnv)="addEnv($event)"></env-modal>
                  </div>
                  <div nz-form-control nz-col>
                    <nz-table #envTable [nzDataSource]="envList" [nzBordered]="true" [nzIsPagination]="false" *ngIf="envList.length > 0">
                      <thead nz-thead>
                        <tr>
                          <th>序号</th>
                          <th>环境变量</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of envTable.data;let i=index">
                          <td>{{i+1}}</td>
                          <td>{{item}}</td>
                          <td>
                            <i class="fa fa-trash" (click)="delEnv(i)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col>
                    <label for="configdescription">配置文件</label>
                    <config-modal (addConfig)="addConfig($event)"></config-modal>
                  </div>
                  <div nz-form-control nz-col>
                    <nz-table #configTable [nzDataSource]="configList" [nzBordered]="true" [nzIsPagination]="false" *ngIf="configList.length > 0">
                      <thead nz-thead>
                        <tr>
                          <th>序号</th>
                          <th>文件名</th>
                          <th>配置数据</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of configTable.data;let i=index">
                          <td>{{i+1}}</td>
                          <td>{{item.Config_File}}</td>
                          <td>{{item.Config_Data}}</td>
                          <td>
                            <i class="fa fa-trash" (click)="delConfigfile(i)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
                <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
                  <button nz-button [nzType]="'primary'" [disabled]="configForm.invalid">创建</button>
                </div>
              </form>
            </ng-template>
          </nz-card>

          <!-- <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong>创建新配置</strong>
                </div>
                <div class="card-block">
                  <form (ngSubmit)="onSubmit(configForm)" enctype="multipart/form-data" class="form-horizontal " [formGroup]="configForm">
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="text-input">配置名称</label>
                      <div class="col-md-9">
                        <input type="text" name="configname" class="form-control" placeholder="config name" formControlName="configname">
                        <small class="txt-error animated fadeIn" *ngIf="formErrors['configname']">{{formErrors['configname']}}</small>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="text-input">配置描述</label>
                      <div class="col-md-9">
                        <input type="text" name="configdescription" class="form-control" placeholder="config description" formControlName="configdescription">
                      </div>
                    </div>
                    <div class="form-group row form-margin-bottom">
                      <label class="col-md-3 form-control-label" for="text-input">系统环境变量</label>
                      <div class="col-md-9">
                          <env-modal (addEnv)="addEnv($event)"></env-modal>
                      </div>
                    </div>
                    <div class="form-group row table-wrapper" *ngIf="envList.length > 0">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>序号</th>
                              <th>环境变量</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let env of envList;let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{env}}</td>
                              <td><i class="fa fa-trash" (click)="delEnv(i)"></i></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="form-group row form-margin-bottom">
                      <label class="col-md-3 form-control-label" for="text-input">配置文件</label>
                        <div class="col-md-9">
                            <config-modal (addConfig)="addConfig($event)"></config-modal>
                        </div>
                    </div>
                    <div class="form-group row table-wrapper" *ngIf="configList.length > 0">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>序号</th>
                              <th>文件名</th>
                              <th>配置数据</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let config of configList;let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{config.Config_File}}</td>
                              <td>{{config.Config_Data}}</td>
                              <td><i class="fa fa-trash" (click)="delConfigfile(i)"></i></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary" [disabled]="configForm.invalid"><i class="fa fa-dot-circle-o"></i> 创建</button>
                    </div>
                  </form>
                  
                </div>
                
              </div>
            </div>
          </div> -->


        </div>




      </div>
      <!-- /.conainer-fluid -->
    </main>
  </div>

</div>