<div class="app flex-row align-items-center">

  <div class="app-body">


    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">集群中心</li>
        <li class="breadcrumb-item active">配置管理</li>
        <li class="breadcrumb-item active">创建新配置</li>
      </ol>

      <div class="container-fluid">

        <div class="animated fadeIn">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <strong>创建新配置</strong>
                </div>
                <div class="card-block">
                  <form (ngSubmit)="onSubmit(configForm)" enctype="multipart/form-data" class="form-horizontal " [formGroup]="configForm">
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="text-input">配置名称</label>
                      <div class="col-md-9">
                        <input type="text" name="configname" class="form-control" placeholder="config name" formControlName="configname">
                        <small class="txt-error animated fadeIn" *ngIf="formErrors['configname']">{{formErrors['configname']}}</small>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="text-input">配置描述</label>
                      <div class="col-md-9">
                        <input type="text" name="configdescription" class="form-control" placeholder="config description" formControlName="configdescription">
                      </div>
                    </div>
                    <div class="form-group row form-margin-bottom">
                      <label class="col-md-3 form-control-label" for="text-input">系统环境变量</label>
                      <div class="col-md-9">
                          <div class="input-group">
                              <input type="text" name="envvariable" class="form-control" placeholder="key = value" formControlName="envvariable" [(ngModel)]="envvariable">
                              <span class="input-group-addon fa fa-plus"  (click)="addEnv()"></span>
                          </div>
                          <small class="txt-error animated fadeIn" *ngIf="formErrors['envvariable']">{{formErrors['envvariable']}}</small>
                      </div>
                    </div>
                    <div class="form-group row table-wrapper" *ngIf="envList.length > 0">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>序号</th>
                              <th>环境变量</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let env of envList;let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{env}}</td>
                              <td><i class="fa fa-trash" (click)="delEnv(i)"></i></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="form-group row form-margin-bottom">
                      <label class="col-md-3 form-control-label" for="text-input">配置文件</label>
                    </div>
                    <div class="form-group row">
                      <div class="form-group col-md-12 margin-zero">
                        <div class="input-group">
                            <input type="text" name="configfile" class="form-control " placeholder="file name and its absolute path" formControlName="configfile" [(ngModel)]="configfile">
                            <span class="input-group-addon fa fa-plus" (click)="addConfigfile()"></span>  
                        </div>
                        <small class="txt-error animated fadeIn" *ngIf="formErrors['configfile']">{{formErrors['configfile']}}</small>
                        <textarea rows="8" class="form-control textarea-margin-top" placeholder="config data" formControlName="configdata" [(ngModel)]="configdata"></textarea>                      
                      </div>
                    </div>
                    <div class="form-group row table-wrapper" *ngIf="configList.length > 0">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>序号</th>
                              <th>文件名</th>
                              <th>配置数据</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let config of configList;let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{config.name}}</td>
                              <td>{{config.data}}</td>
                              <td><i class="fa fa-trash" (click)="delConfigfile(i)"></i></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary" [disabled]="configForm.invalid"><i class="fa fa-dot-circle-o"></i> 创建</button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>


        </div>




      </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>

</div>






