
<div class="app flex-row align-items-center">


  <div class="app-body">

    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">镜像中心</li>
        <li class="breadcrumb-item active">我的镜像</li>
        <li class="breadcrumb-item active">构建新镜像</li>
      </ol>


      <div class="container-fluid">
        <div class="animated fadeIn">

          <div nz-row [nzGutter]="16">
            <div nz-col>
              <nz-card>
                <ng-template #title>
                    <strong>构建新镜像</strong>
                </ng-template>
                <ng-template #body>
                    <form nz-form [formGroup]="creatImgForm" (ngSubmit)="onSubmit(creatImgForm)">
                      <div nz-form-item nz-row>
                        <div nz-form-label nz-col>
                            <label for="image_name" nz-form-item-required>镜像名称</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('image_name')">
                          <nz-input formControlName="image_name" [nzId]="'image_name'" [nzPlaceHolder]="'镜像名'"></nz-input>
                          <div nz-form-explain *ngIf="getFormControl('image_name').dirty&&getFormControl('image_name').hasError('required')">镜像名称不能为空！</div>
                          <div nz-form-explain *ngIf="getFormControl('image_name').dirty&&getFormControl('image_name').hasError('maxlength')">镜像名称最多为50个字符！</div>
                          <div nz-form-explain *ngIf="getFormControl('image_name').dirty&&getFormControl('image_name').hasError('pattern')">字母开头，可以包含. - 数字在镜像名称中，. - 不可以作为名称的终结字符！</div>
                        </div>
                      </div>
                      <div nz-form-item nz-row>
                        <div nz-form-label nz-col>
                            <label for="image_description" nz-form-item-required>镜像描述</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('image_description')">
                          <nz-input formControlName="image_description" [nzId]="'image_description'" [nzPlaceHolder]="'描述信息'"></nz-input>
                          <div nz-form-explain *ngIf="getFormControl('image_description').dirty&&getFormControl('image_description').hasError('required')">描述内容不能为空！</div>
                        </div>
                      </div>
                      <div nz-form-item nz-row>
                        <div nz-form-label nz-col>
                            <label for="basic_image" nz-form-item-required>基础镜像</label>
                        </div>
                        <div nz-form-control nz-col [nzValidateStatus]="getFormControl('basic_image')">
                          <nz-select formControlName="basic_image">
                            <nz-option *ngFor="let base of baseImageList " [nzValue]="base.name" [nzLabel]="base.name"></nz-option>
                          </nz-select>
                          <div nz-form-explain *ngIf="getFormControl('basic_image').dirty&&getFormControl('basic_image').hasError('required')">请选择一个基础镜像！</div>
                        </div>
                      </div>
                      <div nz-form-item nz-row>
                        <div nz-form-label nz-col>
                            <label for="app_filename" nz-form-item-required>上传已编译好的应用</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('app_filename')" class="file-wrapper">
                            <input formControlName="app_filename" type="file">
                            <div nz-form-explain *ngIf="getFormControl('app_filename').dirty&&getFormControl('app_filename').hasError('required')">请上传已编译好的应用文件！</div>
                        </div>
                      </div>
                      <div nz-form-item nz-row>
                        <div nz-form-label nz-col>
                            <label for="store_path" nz-form-item-required>指定应用存放路径</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('store_path')">
                          <nz-input formControlName="store_path" [nzId]="'store_path'" [nzPlaceHolder]="'默认路径为/opt/app'"></nz-input>
                          <div nz-form-explain *ngIf="getFormControl('store_path').dirty&&getFormControl('store_path').hasError('required')">请填写应用存放路径！</div>
                        </div>
                      </div>
                      <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
                          <button nz-button [nzType]="'primary'" [disabled]="creatImgForm.invalid">开始构建</button>
                      </div>
                    </form>
                    <!-- <form method="post" enctype="multipart/form-data" class="form-horizontal" (ngSubmit)="onSubmit(creatImgForm)" [formGroup]="creatImgForm">
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">镜像名称</label>
                        <div class="col-md-9">
                          <input type="text" name="imageName" class="form-control" placeholder="镜像名" required formControlName="image_name">
                          <small *ngIf="formErrors['image_name']" class="txt-error animated fadeIn">{{formErrors['image_name']}}</small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">镜像描述</label>
                        <div class="col-md-9">
                          <input type="text" name="image_description" class="form-control" placeholder="image description" formControlName="image_description">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="select">基础镜像</label>
                        <div class="col-md-9">
                          <select id="select" name="basic_image" class="form-control" size="1" required formControlName="basic_image">
                            <option value="{{base.name}}" *ngFor="let base of baseImageList">{{base.name}}</option>
                          </select>
                          <small class="txt-error animated fadeIn" *ngIf="formErrors['basic_image']">{{formErrors['basic_image']}}</small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="file-input">上传已编译好的应用</label>
                        <div class="col-md-9">
                          <input style="display:block" type="file" name="app_filename" requireFile formControlName="app_filename">
                          <small class="txt-error animated fadeIn" *ngIf="formErrors['app_filename']">{{formErrors['app_filename']}}</small>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">指定应用存放路径</label>
                        <div class="col-md-9">
                          <input type="text" name="store_path" class="form-control" placeholder="默认路径为/opt/app" formControlName="store_path">
                          <small class="txt-error animated fadeIn" *ngIf="formErrors['store_path']">{{formErrors['store_path']}}</small>
                      </div>
                      </div>
                      <div class="card-footer">
                          <button type="submit" class="btn btn-sm btn-primary" [disabled]="creatImgForm.invalid"><i class="fa fa-dot-circle-o"></i> 开始构建</button>
                      </div>
                    </form> -->
                </ng-template>
              </nz-card>
            </div>
          </div>
        </div>


      </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>


</div>






