<div class="app flex-row align-items-center">


  <div class="app-body">

    <!-- Main content -->
    <main class="main">
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">镜像中心</li>
        <li class="breadcrumb-item active">我的镜像</li>
      </ol>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div nz-row [nzGutter]="16">
              <div nz-col>
                <nz-card [nzNoHovering]="true">
                  <ng-template #body>
                    <button nz-button [nzType]="'primary'" [routerLink]="['./createImage']">
                      <span>创建新镜像</span>
                    </button>
                    <p class="head-txt">*基于已编译的应用构建镜像</p>
                  </ng-template>
                </nz-card>
              </div>
          </div>

          <div nz-row [nzGutter]="16">
            <div nz-col>
              <nz-card>
                <ng-template #body>
                  <nz-table #nzTable [nzDataSource]="list" [nzPageSize]="10" [nzLoading]="tableLoading">
                      <thead nz-thead>
                          <tr>
                            <th>
                              镜像名称
                              <customer-filter-dropdown (searchEmitter)="search($event,'name')"></customer-filter-dropdown>
                            </th>
                            <th>版本号</th>
                            <th>构建状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody nz-tbody>
                          <tr nz-tbody-tr *ngFor="let post of nzTable.data">
                            <td>{{post.name}}</td>
                            <td>{{post.tag}}</td>
                            <td>{{post.buildstatus}}</td>
                            <td>{{post.createdat}}</td>
                            <td>
                              <button nz-button [nzType]="'primary'" [routerLink]="['./queryImage',post.id]" title="查看">
                                <i class="anticon anticon-search"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                  </nz-table>
                </ng-template>
              </nz-card>
            </div>
          </div>
          
        </div>
      </div>
      <!-- /.conainer-fluid -->
    </main>
  </div>
</div>