<div class="app flex-row align-items-center">
  <div class="app-body">

    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">应用中心</li>
        <li class="breadcrumb-item active">配置管理</li>
      </ol>

      <div class="container-fluid">

        <div class="animated fadeIn">
          <div nz-row [nzGutter]="16">
              <div nz-col>
                <nz-card [nzNoHovering]="true">
                  <ng-template #body>
                    <button nz-button [nzType]="'primary'" [routerLink]="['../createConfig']">
                      <span>创建新配置</span>
                    </button>
                  </ng-template>
                </nz-card>
              </div>
          </div>

          <div nz-row [nzGutter]="16">
            <div nz-col>
              <nz-card>
                <ng-template #body>
                  <nz-table #nzTable [nzDataSource]="list" [nzPageSize]="10" [nzLoading]="tableLoading">
                      <thead nz-thead>
                        <tr>
                          <th nz-th>
                            配置名称
                            <customer-filter-dropdown (searchEmitter)="search($event,'Config_Name')"></customer-filter-dropdown>
                          </th>
                          <th>描述</th>
                          <th>创建时间</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let post of nzTable.data">
                          <td>{{post.Config_Name}}</td>
                          <td>{{post.Config_Des}}</td>
                          <td>{{post.Create_At}}</td>
                          <td>
                            <button nz-button [nzType]="'primary'" [routerLink]="['../queryConfig',post.Row_ID]" [queryParams]="{name:post.Config_Name,des:post.Config_Des}" title="查看">
                              <i class="anticon anticon-search"></i>
                            </button>
                            <button nz-button [nzType]="'primary'" [routerLink]="['../editConfig',post.Row_ID]" [queryParams]="{name:post.Config_Name,des:post.Config_Des}" title="修改">
                              <i class="anticon anticon-edit"></i>
                            </button>
                            <button nz-button [nzType]="'primary'" (click)="delConfig(post.Row_ID)" title="删除">
                              <i class="anticon anticon-delete"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                  </nz-table>
                </ng-template>
              </nz-card>
            </div>
          </div>
        </div>

      </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>

</div>