<div nz-row [nzGutter]="24" class="py-lg">
    <div nz-col>
        <nz-card [nzNoHovering]="true">
            <ng-template #title><strong>修改密码</strong></ng-template>
            <ng-template #body>
                <div nz-row [nzGutter]="64">
                    <div nz-col [nzSpan]="16">
                        <form nz-form [nzLayout]="'vertical'">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="old_password" nz-form-item-required>旧密码</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.old_password" name="old_password" [nzId]="'old_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="new_password" nz-form-item-required>新密码</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.new_password" name="new_password" [nzId]="'new_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col>
                                    <label for="confirm_new_password" nz-form-item-required>确认新密码</label>
                                </div>
                                <div nz-form-control nz-col>
                                    <nz-input [(ngModel)]="pwd.confirm_new_password" name="confirm_new_password" [nzId]="'confirm_new_password'" [nzType]="'password'" required></nz-input>
                                </div>
                            </div>
                            <div nz-row>
                                <button nz-button (click)="pwdSave()" [nzType]="'primary'">更新信息</button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
</div>