<div class="app flex-row align-items-center">
      <div class="app-body">
        <!-- Main content -->
        <main class="main">
    
          <!-- Breadcrumb -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">应用中心</li>
            <li class="breadcrumb-item active">我的应用</li>
            <li class="breadcrumb-item active">查询集群信息</li>
          </ol>
          <div class="container-fluid">
            <div class="animated fadeIn">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <strong>集群信息</strong>
                    </div>
                    <div class="card-block">
                      <form enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">集群名称： {{clusterDetail.App_Name}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">集群描述： {{clusterDetail.App_Des}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">选择镜像： {{clusterDetail.Image_Name}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">挂载配置信息： {{clusterDetail.Config_ID}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">部署区域：  {{clusterDetail.ENV_ID}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">硬件规格： {{clusterDetail.Flavor}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">副本数量： {{clusterDetail.Replicas}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">持久化存储：  {{clusterDetail.Storage}} &nbsp;&nbsp;&nbsp;挂载位置： {{clusterDetail.Image_Url}}</label>
                        </div>
                        <div class="form-group row">
                          <label class="form-control-label col-md-12" for="text-input">实例启动命令： {{clusterDetail.CMD}}</label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.conainer-fluid -->
        </main>
    
      </div>
    
    </div>
    
    
    
    
    
    
    