<div class="app flex-row align-items-center">
      <div class="app-body">
        <!-- Main content -->
        <main class="main">
    
          <!-- Breadcrumb -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">应用中心</li>
            <li class="breadcrumb-item active">我的应用</li>
            <li class="breadcrumb-item active">查询应用信息</li>
          </ol>
          <div class="container-fluid">
            <div class="animated fadeIn">
              <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="12">
                  <nz-card>
                    <ng-template #title>
                      <strong>应用信息</strong>
                    </ng-template>
                    <ng-template #body>
                      <form nz-form>
                        <div nz-form-item nz-row>
                          <label for="App_Name">应用名称： {{clusterDetail.App_Name}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="App_Des">应用描述： {{clusterDetail.App_Des}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="Image_Name">选择镜像： {{clusterDetail.Image_Name}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="Config_ID">挂载配置信息： {{clusterDetail.Config_ID}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="ENV_ID">部署区域： {{clusterDetail.ENV_ID}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="Flavor">硬件规格： {{clusterDetail.Flavor}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="Replicas">副本数量： {{clusterDetail.Replicas}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="Storage">持久化存储： {{clusterDetail.Storage}}</label>
                        </div>
                        <div nz-form-item nz-row>
                          <label for="CMD">实例启动命令： {{clusterDetail.CMD}}</label>
                        </div>
                      </form>
                    </ng-template>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="12">
                  <nz-card>
                    <ng-template #title>
                      <strong>副本信息</strong>
                    </ng-template>
                    <ng-template #body>
                      <nz-table #nzTable [nzDataSource]="replicaList" [nzPageSize]="10">
                        <thead nz-thead>
                          <tr>
                            <th>状态</th>
                            <th>IP</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody nz-tbody>
                          <tr nz-tbody-tr *ngFor="let item of nzTable.data">
                            <td>{{item.status}}</td>
                            <td>{{item.IP}}</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </ng-template>
                  </nz-card>
                </div>
              </div>
            </div>
          </div>
          <!-- /.conainer-fluid -->
        </main>
    
      </div>
    
    </div>
    
    
    
    
    
    
    