<div class="app flex-row align-items-center">
  <div class="app-body">
    <!-- Main content -->
    <main class="main">
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">运维中心</li>
        <li class="breadcrumb-item active">监控服务</li>
        <li class="breadcrumb-item active">{{appName}}</li>
      </ol>
      <div class="container-fluid">
        <div class="animated fadeIn">

        </div>
      </div>
      <!-- /.conainer-fluid -->
    </main>
  </div>
</div>