<div class="app flex-row align-items-center">
  <div class="app-body">

    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">应用中心</li>
        <li class="breadcrumb-item active">负载均衡</li>
      </ol>

      <div class="container-fluid">

        <div class="animated fadeIn">

          <nz-card>
            <ng-template #body>
              <nz-tabset>
                <nz-tab>
                  <ng-template #nzTabHeading>
                    外部负载均衡
                  </ng-template>
                  <button nz-button [nzType]="'primary'" title="创建外部负载均衡" [routerLink]="['./createExternallb']" style="margin-bottom: 1rem;">
                    创建外部负载均衡
                  </button>
                  <nz-table #outBalance [nzDataSource]="outBalacneList" [nzPageSize]="10" [nzLoading]="tableLoading">
                    <thead nz-thead>
                      <tr>
                        <th>
                          负载均衡名称                              
                          <customer-filter-dropdown (searchEmitter)="search($event,'name')"></customer-filter-dropdown>
                        </th>
                        <th>所属应用</th>
                        <th>dns</th>
                        <th>协议</th>
                        <th>端口</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody nz-tbody>

                    </tbody>
                  </nz-table>
                </nz-tab>
                <nz-tab>
                  <ng-template #nzTabHeading>
                    内部负载均衡
                  </ng-template>
                  <button nz-button [nzType]="'primary'" title="创建内部负载均衡" style="margin-bottom: 1rem;">
                    创建内部负载均衡
                  </button>
                  <nz-table #outBalance [nzDataSource]="inBalacneList" [nzPageSize]="10" [nzLoading]="tableLoading">
                    <thead nz-thead>
                      <tr>
                        <th>
                          负载均衡名称                              
                          <customer-filter-dropdown (searchEmitter)="search($event,'name')"></customer-filter-dropdown>
                        </th>
                        <th>所属应用</th>
                        <th>VIP</th>
                        <th>协议</th>
                        <th>端口</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody nz-tbody>

                    </tbody>
                  </nz-table>
                </nz-tab>
              </nz-tabset>
            </ng-template>
          </nz-card>
        </div>

      </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>


</div>






