<div class="app flex-row align-items-center">
  <div class="app-body">

    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">应用中心</li>
        <li class="breadcrumb-item active">负载均衡</li>
      </ol>

      <div class="container-fluid">

        <div class="animated fadeIn">
          <!-- <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="card-block">
                  <a href="create-external-lb.html" class="btn btn-primary">创建外部负载均衡</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-block">
                  <a href="create-internal-lb.html" class="btn btn-success">创建内部负载均衡</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card card-accent-success">
                <div class="card-header">外部负载均衡</div>
                <div class="card-block">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>负载均衡名称</th>
                      <th>所属应用</th>
                      <th>VIP</th>
                      <th>协议</th>
                      <th>端口</th>
                      <th>状态</th>
                      <th>创建时间</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let post of loadbalanceListOut">
                      <td>{{post.name}}</td>
                      <td>{{post.balance}}</td>
                      <td>{{post.dns}}</td>
                      <td>{{post.protocol}}</td>
                      <td>{{post.port}}</td>
                      <td>{{post.state}}</td>
                      <td>{{post.createTime}}</td>
                      <td>
                        <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                          <span>Dribbble</span>
                        </button>
                        <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                          <span>Dribbble</span>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card card-accent-primary">
                <div class="card-header">内部负载均衡</div>
                <div class="card-block">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>负载均衡名称</th>
                      <th>所属应用</th>
                      <th>dns</th>
                      <th>协议</th>
                      <th>端口</th>
                      <th>状态</th>
                      <th>创建时间</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let post of loadbalanceListIn">
                      <td>{{post.name}}</td>
                      <td>{{post.balance}}</td>
                      <td>{{post.dns}}</td>
                      <td>{{post.protocol}}</td>
                      <td>{{post.port}}</td>
                      <td>{{post.state}}</td>
                      <td>{{post.createTime}}</td>
                      <td>
                        <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                          <span>Dribbble</span>
                        </button>
                        <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                          <span>Dribbble</span>
                        </button>
                      </td>
                    </tr>

                    </tbody>
                  </table>

                </div>
              </div>

            </div>
          </div> -->

          <nz-card>
            <ng-template #body>
              <nz-tabset>
                <nz-tab>
                  <ng-template #nzTabHeading>
                    外部负载均衡
                  </ng-template>
                  <button nz-button [nzType]="'primary'" title="创建外部负载均衡" style="margin-bottom: 1rem;">
                    创建外部负载均衡
                  </button>
                  <nz-table #outBalance [nzDataSource]="outBalacneList" [nzPageSize]="10" [nzLoading]="tableLoading">
                    <thead nz-thead>
                      <tr>
                        <th>
                          负载均衡名称                              
                          <customer-filter-dropdown (searchEmitter)="search($event,'name')"></customer-filter-dropdown>
                        </th>
                        <th>所属应用</th>
                        <th>dns</th>
                        <th>协议</th>
                        <th>端口</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody nz-tbody>

                    </tbody>
                  </nz-table>
                </nz-tab>
                <nz-tab>
                  <ng-template #nzTabHeading>
                    内部负载均衡
                  </ng-template>
                  <button nz-button [nzType]="'primary'" title="创建内部负载均衡" style="margin-bottom: 1rem;">
                    创建内部负载均衡
                  </button>
                  <nz-table #outBalance [nzDataSource]="inBalacneList" [nzPageSize]="10" [nzLoading]="tableLoading">
                    <thead nz-thead>
                      <tr>
                        <th>
                          负载均衡名称                              
                          <customer-filter-dropdown (searchEmitter)="search($event,'name')"></customer-filter-dropdown>
                        </th>
                        <th>所属应用</th>
                        <th>VIP</th>
                        <th>协议</th>
                        <th>端口</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody nz-tbody>

                    </tbody>
                  </nz-table>
                </nz-tab>
              </nz-tabset>
            </ng-template>
          </nz-card>
        </div>

      </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>


</div>






